Source: cutenews-youtube
Section: user/multimedia
Priority: optional
Maintainer: Stuart Howarth <showarth@marxoft.co.uk>
Build-Depends: debhelper (>= 5), libqt4-dev
Standards-Version: 3.7.3
Homepage: https://github.com/marxoft/cutenews

Package: cutenews-youtube
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}, cutenews (>= 0.4.0)
Description: A content plugin for cuteNews providing YouTube videos as an RSS feed
XB-Maemo-Display-Name: cuteNews-YouTube
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAKRWlDQ1BJQ0MgcHJvZmlsZQAAeNqd
 U2dUU+kWPffe9EJLiICUS29SFQggUkKLgBSRJiohCRBKiCGh2RVRwRFFRQQbyKCIA46OgIwVUSwM
 igrYB+Qhoo6Do4iKyvvhe6Nr1rz35s3+tdc+56zznbPPB8AIDJZIM1E1gAypQh4R4IPHxMbh5C5A
 gQokcAAQCLNkIXP9IwEA+H48PCsiwAe+AAF40wsIAMBNm8AwHIf/D+pCmVwBgIQBwHSROEsIgBQA
 QHqOQqYAQEYBgJ2YJlMAoAQAYMtjYuMAUC0AYCd/5tMAgJ34mXsBAFuUIRUBoJEAIBNliEQAaDsA
 rM9WikUAWDAAFGZLxDkA2C0AMElXZkgAsLcAwM4QC7IACAwAMFGIhSkABHsAYMgjI3gAhJkAFEby
 VzzxK64Q5yoAAHiZsjy5JDlFgVsILXEHV1cuHijOSRcrFDZhAmGaQC7CeZkZMoE0D+DzzAAAoJEV
 EeCD8/14zg6uzs42jrYOXy3qvwb/ImJi4/7lz6twQAAA4XR+0f4sL7MagDsGgG3+oiXuBGheC6B1
 94tmsg9AtQCg6dpX83D4fjw8RaGQudnZ5eTk2ErEQlthyld9/mfCX8BX/Wz5fjz89/XgvuIkgTJd
 gUcE+ODCzPRMpRzPkgmEYtzmj0f8twv//B3TIsRJYrlYKhTjURJxjkSajPMypSKJQpIpxSXS/2Ti
 3yz7Az7fNQCwaj4Be5EtqF1jA/ZLJxBYdMDi9wAA8rtvwdQoCAOAaIPhz3f/7z/9R6AlAIBmSZJx
 AABeRCQuVMqzP8cIAABEoIEqsEEb9MEYLMAGHMEF3MEL/GA2hEIkxMJCEEIKZIAccmAprIJCKIbN
 sB0qYC/UQB00wFFohpNwDi7CVbgOPXAP+mEInsEovIEJBEHICBNhIdqIAWKKWCOOCBeZhfghwUgE
 EoskIMmIFFEiS5E1SDFSilQgVUgd8j1yAjmHXEa6kTvIADKC/Ia8RzGUgbJRPdQMtUO5qDcahEai
 C9BkdDGajxagm9BytBo9jDah59CraA/ajz5DxzDA6BgHM8RsMC7Gw0KxOCwJk2PLsSKsDKvGGrBW
 rAO7ifVjz7F3BBKBRcAJNgR3QiBhHkFIWExYTthIqCAcJDQR2gk3CQOEUcInIpOoS7QmuhH5xBhi
 MjGHWEgsI9YSjxMvEHuIQ8Q3JBKJQzInuZACSbGkVNIS0kbSblIj6SypmzRIGiOTydpka7IHOZQs
 ICvIheSd5MPkM+Qb5CHyWwqdYkBxpPhT4ihSympKGeUQ5TTlBmWYMkFVo5pS3aihVBE1j1pCraG2
 Uq9Rh6gTNHWaOc2DFklLpa2ildMaaBdo92mv6HS6Ed2VHk6X0FfSy+lH6JfoA/R3DA2GFYPHiGco
 GZsYBxhnGXcYr5hMphnTixnHVDA3MeuY55kPmW9VWCq2KnwVkcoKlUqVJpUbKi9Uqaqmqt6qC1Xz
 VctUj6leU32uRlUzU+OpCdSWq1WqnVDrUxtTZ6k7qIeqZ6hvVD+kfln9iQZZw0zDT0OkUaCxX+O8
 xiALYxmzeCwhaw2rhnWBNcQmsc3ZfHYqu5j9HbuLPaqpoTlDM0ozV7NS85RmPwfjmHH4nHROCeco
 p5fzforeFO8p4ikbpjRMuTFlXGuqlpeWWKtIq1GrR+u9Nq7tp52mvUW7WfuBDkHHSidcJ0dnj84F
 nedT2VPdpwqnFk09OvWuLqprpRuhu0R3v26n7pievl6Ankxvp955vef6HH0v/VT9bfqn9UcMWAaz
 DCQG2wzOGDzFNXFvPB0vx9vxUUNdw0BDpWGVYZfhhJG50Tyj1UaNRg+MacZc4yTjbcZtxqMmBiYh
 JktN6k3umlJNuaYppjtMO0zHzczNos3WmTWbPTHXMueb55vXm9+3YFp4Wiy2qLa4ZUmy5FqmWe62
 vG6FWjlZpVhVWl2zRq2drSXWu627pxGnuU6TTque1mfDsPG2ybaptxmw5dgG2662bbZ9YWdiF2e3
 xa7D7pO9k326fY39PQcNh9kOqx1aHX5ztHIUOlY63prOnO4/fcX0lukvZ1jPEM/YM+O2E8spxGmd
 U5vTR2cXZ7lzg/OIi4lLgssulz4umxvG3ci95Ep09XFd4XrS9Z2bs5vC7ajbr+427mnuh9yfzDSf
 KZ5ZM3PQw8hD4FHl0T8Ln5Uwa9+sfk9DT4FntecjL2MvkVet17C3pXeq92HvFz72PnKf4z7jPDfe
 Mt5ZX8w3wLfIt8tPw2+eX4XfQ38j/2T/ev/RAKeAJQFnA4mBQYFbAvv4enwhv44/Ottl9rLZ7UGM
 oLlBFUGPgq2C5cGtIWjI7JCtIffnmM6RzmkOhVB+6NbQB2HmYYvDfgwnhYeFV4Y/jnCIWBrRMZc1
 d9HcQ3PfRPpElkTem2cxTzmvLUo1Kj6qLmo82je6NLo/xi5mWczVWJ1YSWxLHDkuKq42bmy+3/zt
 84fineIL43sXmC/IXXB5oc7C9IWnFqkuEiw6lkBMiE44lPBBECqoFowl8hN3JY4KecIdwmciL9E2
 0YjYQ1wqHk7ySCpNepLskbw1eSTFM6Us5bmEJ6mQvEwNTN2bOp4WmnYgbTI9Or0xg5KRkHFCqiFN
 k7Zn6mfmZnbLrGWFsv7Fbou3Lx6VB8lrs5CsBVktCrZCpuhUWijXKgeyZ2VXZr/Nico5lqueK83t
 zLPK25A3nO+f/+0SwhLhkralhktXLR1Y5r2sajmyPHF52wrjFQUrhlYGrDy4irYqbdVPq+1Xl65+
 vSZ6TWuBXsHKgsG1AWvrC1UK5YV969zX7V1PWC9Z37Vh+oadGz4ViYquFNsXlxV/2CjceOUbh2/K
 v5nclLSpq8S5ZM9m0mbp5t4tnlsOlqqX5pcObg3Z2rQN31a07fX2Rdsvl80o27uDtkO5o788uLxl
 p8nOzTs/VKRU9FT6VDbu0t21Ydf4btHuG3u89jTs1dtbvPf9Psm+21UBVU3VZtVl+0n7s/c/romq
 6fiW+21drU5tce3HA9ID/QcjDrbXudTVHdI9VFKP1ivrRw7HH77+ne93LQ02DVWNnMbiI3BEeeTp
 9wnf9x4NOtp2jHus4QfTH3YdZx0vakKa8ppGm1Oa+1tiW7pPzD7R1ureevxH2x8PnDQ8WXlK81TJ
 adrpgtOTZ/LPjJ2VnX1+LvncYNuitnvnY87fag9v77oQdOHSRf+L5zu8O85c8rh08rLb5RNXuFea
 rzpfbep06jz+k9NPx7ucu5quuVxrue56vbV7ZvfpG543zt30vXnxFv/W1Z45Pd2983pv98X39d8W
 3X5yJ/3Oy7vZdyfurbxPvF/0QO1B2UPdh9U/W/7c2O/cf2rAd6Dz0dxH9waFg8/+kfWPD0MFj5mP
 y4YNhuueOD45OeI/cv3p/KdDz2TPJp4X/qL+y64XFi9++NXr187RmNGhl/KXk79tfKX96sDrGa/b
 xsLGHr7JeDMxXvRW++3Bd9x3He+j3w9P5Hwgfyj/aPmx9VPQp/uTGZOT/wQDmPP87zWUggAAAAZi
 S0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB98JAQwxGEY7Z84AABDP
 SURBVHja5Vt7eFRFlv9V3Ue/O510Om8CCZCgQhAF5BWQGXCAFRgxCr5WV3d1xs91ZtVRdx1HmHVG
 8bWO6K6wu7Pj6DczDiyLqEGRUXnJI4FgjDwSSEjIOyTppN/3UbV/dBII3Z10IPLYre87X25u16k6
 9atzTp1TVRf4f17IcDTy3qaXKCHEoXPBAtAEn2Is8iim6QHVkNHuTxypcyq0+ZPNii6HGTjAownS
 I40sKHCZT/sFwnSnubPWJIUabXJgj0UObgBYl0B0H+fcffcPn2SXFIB3Nr5aENQtS3yqaUqrxza5
 wZPoavY6JU0DQhqDojEEFAbOgZDKwFjf+KGoDDoLwyBQAlmifcJQChgkCkIAk0whixQGkUIUgTRr
 u5pp62xLsXlKLVKgxCj4Nt+77PHyiwrAf6x/vajJl7GqxevMOX46wdTupfAGdagah6IxqHrvMMmZ
 DsjAHZ+rEb0vOM60JQmALFJIIoHVKMBpZRiT3BVItbbXpFsan/vb23664TsF4LfrX76hsmPsxqqO
 nIzGTh3Nbg2azsD4pbFfSgBRoEhziMhIFDA2qaYxL6lq2f23/WzfsALwzvpf2zuCjtU766b8qNkt
 oLYtAJ0BlJLLwpExxiFQYKTLhDSHjsLskreTjO6n7r3tn7ovGIB1f3hxUm139p921+bnNZwOojug
 gxICQi4vb845wDiH3SQgM9mImSOPVY6016148M6ny84bgLXvPn/9obbrdpbWJZqaOhVoOjvbqi/L
 wsEhChTpiTImZ3cGrnUdLHzonp8fGDIAa9/91aSy1om7v6pOMLW6lct82NGAAFIcMmbkdgUmpXw9
 86F7nimLG4D/fPcX9qrO3JKtlbl5De1BEHKlDb/XLDgynUbclFddOTaxesoD9/wywieI0RhPe+2r
 d9aMzmvp8INcKhc/TFFeS0cAO2tG5yVKp1cD+PGgGrDmjadvKG6av/dovQp/SP8/Ee6aDQLGZUlY
 lP7ZtL9/9MV9A2pAlT9vY2snh9cXumyWuQstXp+G1k4RVQl5GwFknv2bcPY/v3nzF0V7GsY/UNXo
 AyH8LHcShVQ/iB4A0UJQFRWCKMWue4mJEI5uvwpRdtoevSvn20+Ktx+OqgH1XteqZrcCXdcGnH27
 gePRotHISrGCcw5CRHQrFPUt3dhXXoeq2ja0+QwQzNazQLy02sQYR7NbQb3XtQrAhggf8OYbTxXs
 aRm/98ujJpOqsQEFTrNzrH1iGqYVjOjXgc4YQooOTdPR5VOxfms53is+gqZQ4mWxMEoixY3jAoHp
 qRXTHnl0dXk/DfCq8pITpy0mVVPA+eBRV0RcTgkoFSCJYaty2E144t5ZeOLeWfimsgnr1u/HF+Ud
 6FTNUDUGEHrRIVA1hhOnLaYJSfISAOV9PuCt1x6lnarjsYOnkvP9IQ0AG9CmrAZg8cxsZKUmxNVx
 qtOGhYX5WFo4Ci6jAsoVtLu9UHTasznALo4/4ACFgLEut3f5ovF/Lv50HxcBgBM4mrvMkwMhBZzp
 g5or50OfPUIIstIS8chdM7Ci04ftJdX4aM8pbNhWBaPDiUHVbpjCw0BIQXOXeXJqChwAOkQA0HRi
 qe+2uVRVA5geV0MXUpITLbj1pgn4waw8LP9eLp5ZW4K6DnZxzEAF6rttrmucxAKgg/Y4sIRGj03S
 tF71H4Q4g6rq8AdCCARDUDUN/Dxm0Go2YEHhOHzwymJMHQUIRI+v/wsgTdPQ6LFJjPGEPifoCUhF
 mqZD07S40tz2LhXPrvkEBq0VBokid2QaMpMTkDUiBbkjUjB6VDqSHHZQGp+pZKU58PG//jVeWPcX
 rCs+CU/wu9MAjQOapsMTkIoAVIgA0B2Up6uKGlb/OBBQGPB1jQotSAHG8MWhOkAPQrBaYKUepCcZ
 MS7HhVsWTMHUiWOQlZESV+T+jw/Ow/VXH8Hjb+xGk/s7MgnOoSoquoPy9D4N8IXEDFXVe9Q4PlWm
 sgRZTo5479OTcLybo/qwiP/+/I8YkWLCku9PwO1/NQVTJo4btN2bZl2F3ydZ8NiLm1HeJA57EMU5
 oKo6fCExo28ZzJ548+q6TsmgahrIBYedBIRScM4hWV3wEwf2ftOCTVv24OSpRhTkZ8FqNQ2YYqe7
 ErCwMB+lByvQ0DnMSyTnoBRINHPTkdLPXqAAoGkQwHSAsWEjwnnfs8FsR9CQjT/s8GDOXa/j1X//
 GB1uz8CxQ3IC/uvXd2BqjgAWCg2rbGA6ND08+QIAJOTf+qsOrwrO4kM7ySbj8bsnY/r4NEwdn4bM
 ZBMEaGjtDA7KG2Am7Cw7hb3l9Zg7ORt2m3mAVcKI/FFJ2HGwFt1+bXgSo56/omSWGio+WiUCgF+j
 YLoOzuNzPLIEzJiYieuvzgDnHJrOoCg6NJ3jq0Mn8c4HB7HjUCM0LkTdpSCSGSXHOjF+4T/jz2vu
 x02FBTH7mlKQi5/ffz0eeXU3FG14giWmc/g1eiYddo27eaUvEAJnPC4gbWYJS27MQ3a6AwKlkEQB
 RoMIs1FC/igXbl9QgNvmXwWTyNDZ6UGnRwXTWdiV9Zoi46DGBLxffACuBBEF47JiLptXjclAyNOG
 XYeaQQm9YEWgBLAYZbQd+WhVGID8hSu9/hAYY3E5QZtZwtK5+QPmAg67CXOm5GLBrDEwyxxeXwCt
 Hf4IVaSiATvLTsFlF3Dt1SNihtGFU/JQfeI4Ko40g0rnv/cQTt85LEYRbUeLwwA48xeu7PYGe2aI
 D0o2s4ylc8fFlQzZrUbMum4Upk7IhFEi2FtWDUKFfu1pOrC9tBZc82PGpNyoK0QvCJ9uP4jmJh+o
 LMUlawSBgzEGq1nG6WNbVlEA4LoeToJ4vDS0IIUQgmvGpOG5h7+P91bfCqshss2gouOVdw/gTx+X
 DqBVFjz54Dw4nPIQZI0kznRwPZzz9OQCDJwxcB4ngYOz8EkM4zzuPECWBCyZOwFv/2IpkhOkiHaD
 IRXPvvk5qk62xQASmD/rGkzItUHXlPjlPZcYA+s5qg6bwJh5K32BUE+8FU+wA4CFUHqgHKXfVKGx
 pR1M12E0ypBladBzhLEjXXA5ZOz7uhb+oHaWXwD8QQ3VdW34wcw8GA1SBK9BlmA2UGz9qhqafv6e
 0GqS0HH8s7APSBo9b2UwpIKx+OwoFFJRUlqNnV8dxRclJ/HZvhPY+MkB7C45ivqmFiQ7LEhOShjQ
 JMaPzUBBXgq27ToMr0cBoaSv/ePVrbCaJcy8Pjcq/8hMJ3bt/wZ1zYGwOXIMyQ8IlMBkENFxYlsY
 gMTc7630B5WeOCA+BKkkQjBZIMgmaEyAL0RQ2xLArkMN2LS1FF1uN2ZPHRdTGwghyMlKRm5GAop3
 VkBnZ7SPCAT7KxqwaHY+UpJsEbySJIKyEDZ9fqRn6Rz6LrHJIKKz+i9hJ8g460GSnxcRoEcQAsYo
 WrsoXvrtftx4xwuoqmkaOPmZfQ3uu2UqmKb117KgghfWfRmT744fzkFeOs5TZhYec68TlHkIhPMh
 rgQDExUpDh33YMEDb2LrzoqYAzHIEh6+cwbyRtkj2thVVosdpSdi8j5891wEfV1DXgEI5zBAOQNA
 mtHtp4T3VGDDSq0dCu558j1s2R4bhFFZKXiwaCo0Ve3H23G6A7/7oAyqqkXlu3XRTFhlZUjygOug
 hCPN0OnvA4AyTQ//2LNDO4xEwBEIaPjxqo2oOtkSE4T7igox5erECP6vK2pQWdselcdiNmLB7Kuh
 Bv1DkImDMwbCNL0PAJfJW0sJB2P6kNdUWRIwNjcddxbNwa2LZ2JiQV7Ueu3tbix/7B34/KHopmAw
 4KHlhdBCoX58tQ0d2F9RHzXWMMgS5s+eCK7445aXsbAGuEze2j4AzCTUSAiGrAE5Wcl4+Znl+HDt
 3+HfnrkZ655bgvdfXYHnH1uKJIc5on7V8UY8u+bTmIHT8iWzkJtt7McTCgZQUnYc/qAalSc/JxVO
 l73Hf8WnAYSEx9wHgE0I7CGcgfD4N0VSU5x455W/wX1LJyHDZQchBJIoIMNlx0/unYOnf3RTOK44
 h2/r9gqUHWmIvjRSimXzr4UaCPTjKaloQLvbH5UnZ0QqUp2WcGgb10aNDsIZ7AZlTx8AFhLccFae
 Ghc9fMcMFOSnxVzn77vlBiycMxbgrN/sNDS2YcNn30LV9KixwfzCSaBU6dfX0aPV8PkD0c8pU53I
 TrEAuhaf7D3jNOu+DX0AEKZ3pRu6VQIelx1ZE+wYf9VICAOcIJuMBsyblgNfINSThoZ5VSWEkoOV
 aOvwxVgRnMgbnQH9nNzk2+OtsQ9rU+0gAuKSnYAj3dCtEqZ3nVkFoPnSjJ42Ah6XGiVYZFjNhkGT
 H6fdBJMhUjXLD9ehpr4jKo/L6cDYkUmAqvTj2XmgJmY/+TlpgGSIzwTAkWb0tFFovjMaAOJOMXhL
 KeHgYODQB6S6U43ocncNCkDliToEvP4Ifq/HjZpT0WfUaDQgzWkB50o/noOHY0eUo0akAOfUj04M
 lHCkGLylBMTdB8Dz67czu6SWGMX4QmLCGT76sgKKGvscsdvjxaZPvoJkS4zaRl2TGyzGapAzIhmi
 2dKvfrsnFLOvzLRkUF2NKwQ2igx2SS15fv121gdAjyPcnG32BeK9Eve7P27DrtJjYU8fcRuD4Y11
 76Ossh2irkY9atlzqA66zmLsBssQhP7Xl2qPxo4kBYECTI1rYybb7AtYSHBz3wFP78NLm3aUZ1p8
 NbIY/9H34vtew6o1H6Ksohodnd1oaevAwfJjeGLlW3h+zUcw2dNjX0YkFLrGoGpaPwI4nA4bKI0O
 7Ln1GefQNT2u8yxZpMi0+Gpe2rSjPOo1uZ8svrHo/VN567v98V+P03QgK9MBV4IRuhpAS6cXDY2d
 MJgdIANsnTmdiRibmwYSbO93HEcI4PYGcawhCD3Uf1ZnzZgE3dsEcK1PdAKgyx/C4VMBcGVgLbCb
 BSwfUXnbbz78ckPMe4LzZi9rKG13ZSgxEpDo521n2RklIHFefwlvw+tR974IFWLUZ4j2vQkRhEG2
 40RMdrY1btuxsd81uQhJr8v2LDNLLO6j7V7bIpSCCELcgw9bAQERxEiiwgD1hSg8Aw+eUgqzxHBd
 tmdZhP8498Xu8uqGoomJaZVe5+TejcMruRAAkijg5owTb7/1P9vWRoATjSnF4HtqRnJjpSAKVzwA
 gihgRnJjZYrB91RU7Yj2cvXmvd15ltMrxli7AgKlV+7gKcUYa1cgz3J6xerNe6N+PRJzivdW1Tev
 uNb+iUc33uNWjRLjV9atcVGgGGvvDsxx1RW+XrznYEyQBmpkb1V90+0F9mKzqM9tCCU4rwQMCCEQ
 RQEzkpsqr3M0Lxpo8IMCAAD7jtc3Lytw/H6EqTuxLuCYrEM4rxthF0XlBQqLyLA4/fjbo63u218r
 3lcbj5OMu/x04bQbDnWlbPymy5Wh6ASMcVxqKMJb8gSywDEhoa3x2oTWZa9v2Tu8n82dWx5ZMKOo
 2mtfVR+w5dT7rSaFn9GK71o5elMVQghkoiPL7A2MsPhqcixdz725Zfd3++HkueUfFk4t8GjyEo8q
 T2kJWSY3BK2u5oBVCn+71R+Ms58J4RFAEQJwTiIG2vvcG/immbxqptHblmrwldokpcQmKpv/Zcv+
 i/vp7LnlZ4smUwAOjVML50jo1uSibs0w3adJGS0hy0idE6ExYDMHmRhXe0aqIcPk8QuE66kGX61F
 VBvtYmiPXVQ2EIIukTAfAPfLxaVXfqR2qcv/AnO1gq2Hsia+AAAAAElFTkSuQmCC
