[Desktop Entry]
Name=cuteNews
Comment=Homescreen widget for cuteNews
Type=qt
X-Path=/opt/cutenews/bin/showwidget
X-Multiple-Instances=false
X-home-applet-minwidth=300
X-home-applet-minheight=332
