body {
    background-color: #383c45;
    color: #fff;
    font-family: "Droid Sans", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    color: #5294e2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.TableRow .Button {
    height: 24px;
}

#tabBar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

#statusBar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}

#feedsTab {
    position: fixed;
    left: 0;
    right: 0;
    top: 37px;
    bottom: 28px;
}

#feedsToolBar {
    width: 100%;
}

#newSubscriptionDialog {
    width: 400px;
    height: 200px;
    margin: -100px -200px;
}

#subscriptionTypeSelector {
    float: right;
    width: 236px;
}

#subscriptionSourceField {
    float: right;
    width: 232px;
}

#subscriptionsTable {
    position: fixed;
    top: 74px;
    bottom: 24px;
    width: 240px;
}

#subscriptionsTable .TableRow[data-read="false"] {
    font-weight: bold;
}

.SubscriptionIconColumn {
    width: 16px;
    height: 16px;
    float: left;
    padding: 2px 4px 0 0;
}

.SubscriptionTitleColumn {
    width: 165px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding-right: 4px;
}

.SubscriptionUnreadColumn {
    width: 36px;
    text-align: right;
    float: left;
    padding-right: 4px;
}

#articles {
    position: fixed;
    left: 240px;
    right: 0;
    top: 74px;
    height: 204px;
}

#articlesTable {
    width: 100%;
    height: 182px;
}

#articlesTable .TableRow[data-read="false"] {
    font-weight: bold;
}

.ArticleDateColumn {
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding-right: 4px;
}

.ArticleTitleColumn {
    width: 75%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
}

#article {
    position: fixed;
    top: 290px;
    bottom: 24px;
    left: 240px;
    right: 0;
    background-color: #ffffff;
    color: #000000;
    overflow: auto;
}

#articleBody {
    margin: 8px 8px 0 8px;
}

#articleBody img {
    max-width: 100%;
}

#articleBody iframe {
    max-width: 100%;
}

#articleControls {
    margin: 0 8px 0 8px;
    display: none;
}

#articleEnclosures {
    margin: 0 8px 8px 8px;
    display: none;
}

.EnclosureUrlColumn {
    width: 60%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 4px;
}

.EnclosureInfoColumn {
    width: 20%;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 4px;
}

.EnclosureActionsColumn {
    float: right;
}

#downloadsTab {
    position: fixed;
    left: 0;
    right: 0;
    top: 37px;
    bottom: 28px;
}

#downloadsToolBar {
    width: 100%;
}

#downloadsTable {
    position: fixed;
    left: 0;
    right: 0;
    top: 104px;
    bottom: 28px;
}

#downloadsTable .TableRow {
    height: 26px;
    line-height: 26px;
}

.DownloadFileNameColumn {
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding-right: 4px;
}

.DownloadPriorityColumn {
    width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding-right: 4px;
}

.DownloadProgressColumn {
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding-right: 4px;
}

.DownloadStatusColumn {
    width: 15%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding-right: 4px;
}

#settingsDialog {
    width: 400px;
    height: 360px;
    margin: -180px -200px;
}

#settingsTabBar {
    width: 100%;
}

#downloadPathField {
    float: right;
    width: 250px;
}

#concurrentDownloadsSelector {
    float: right;
    width: 130px;
}

#networkProxyTypeSelector {
    float: right;
    width: 286px;
}

#networkProxyHostField {
    float: right;
    width: 282px;
}

#networkProxyPortField {
    float: right;
    width: 282px;
}

#networkProxyUsernameField {
    float: right;
    width: 282px;
}

#networkProxyPasswordField {
    float: right;
    width: 282px;
}
